################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ZonaiMath/x64/Debug/ZonaiMath.tlog
/ZonaiMath/x64/Debug
/.vs/ZonaiEngine
/x64/Debug
/ZonaiEngine/x64/Debug
/ZonaiPhysics/x64/Debug
/ZonaiGraphics/x64/Debug
/ZonaiSounds/x64/Debug
/ZonaiUtility/x64/Debug
